

.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content{
    justify-content: center;
}
.upper{
    text-transform: uppercase;
}
.space-around{
    justify-content: space-around;
}

.align-item{
    align-items: center;
}
.pad{
    padding-right: 17px;
}
main{
    height: 122vw;
    color: #fff;
}
.capital{
    text-transform: capitalize;
}

.bold{
    font-weight: 500;
}
sup{
    color: red;
}
.continer{
    position: absolute;
    top: 82px;
    width: 100%;
    height: 54px;
    background-color:#e5ecff;
    
}
button{
    padding-left: 4px;
    padding-right: 4px;
    height: 29px;
}
span{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 19, 19);
}
/* .z-index{
    z-index: 1;
} */
.but{
    width: 100%;
    height: 138px;
}
.weight{
    width:100%;

}
.size{
    width: 180px;
    height: 258px;
}
.size2{
    width: 151px;
    height: 200px;
    padding-left: 6px;
}
.letter{
    letter-spacing: 3px;
}
.size3{
    width: 180px;
    height: 221px;
}
.size4{
    width: 157px;
    height: 196px;
}
.margin{
    margin: 0% 10%;
}
.pading{
    padding-right: 61px;
}
.top-pad{
    padding-top: 15px;
}
dl{
    font-size: 14px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #938d8d;
}
h4{
    font-size: 14px;
    font-family: sans-serif;
}